public
!vocabularies/public/
vocabularies/public/*
!vocabularies/public/index.html
!vocabularies/public/*/
vocabularies/public/*/*
!vocabularies/public/*/index.html
!vocabularies/public/*/*/
vocabularies/public/*/*/*
!vocabularies/public/*/*/index.html

resources

# Node
node_modules/
npm-debug.log*
pnpm-debug.log*

# Environment
.env
rag/.env

# rag
rag/resources
.env
*.conf
fly-wireguard.conf
